@model WebUI.Controllers.NomPartieModel

@{
    ViewBag.Title = "Créer une partie";
    Layout = "~/Views/Shared/_PrincipalLayout.cshtml";
}

@using (Html.BeginForm("CreerPartie", "Principal", FormMethod.Post))
{
    <div class="form-group">
        @Html.TextBoxFor(modelItem => modelItem.Nom, "", new {@class = "form-control input-lg", autofocus = "autofocus", tabindex = "1", placeholder = "Nom de la partie"})
    </div>

    <input type="submit" value="Créer la partie !" class="btn btn-lg btn-primary btn-block btnsc"/>
}