@model WebUI.ServiceReferenceJoueur.JoueurClient
@{
    ViewBag.Title = "Connexion";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Connexion", "Home", FormMethod.Post, new
    {
        @class = "form-signin"
    }))
    {
        <h2 class="form-signin-heading">@ViewBag.Title</h2>
        @Html.TextBoxFor(model => model.Pseudo, new
        {
            @class = "form-control",
            autofocus = "autofocus",
            placeholder = Html.DisplayNameFor(model => model.Pseudo)
        })

        @Html.PasswordFor(model => model.Mdp, new
        {
            @class = "form-control",
            placeholder = Html.DisplayNameFor(model => model.Mdp)
        })
        <input type="submit" value="Se connecter" class="btn btn-lg btn-primary btn-block btnsc" />
    }
</div>