<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="@Url.Action("Connexion", "Home")"> <span class="glyphicon glyphicon-log-in">   </span> Connexion </a>
    </li>
    <li>
        <a href="@Url.Action("Inscription", "Home")"><span class="glyphicon glyphicon-user"></span> Inscription</a>
    </li>
</ul>