<meta http-equiv="refresh" content="1">

@model WebUI.ServiceReferencePartie.PartieClient

@{
    ViewBag.Title = "En attente";
    Layout = "~/Views/Shared/_PrincipalLayout.cshtml";
}


<div class="form-signin form-group">
    <a class="btn btn-lg btn-primary btn-block btnsc" href="">Quitter la partie</a>
</div>